{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock%}


{% block content %}



<style>
    .one{
        font-family: 'Tmes roman';
        font-size: 'medium';
        color : 'black'

    }
    .card {
        background-color: rgb(149, 149, 199)
    }
</style>




<div style="background-image: url(../static/photos/frontpic1.jpg); background-size:cover;">
    <div class="Jumbotron mt-10 mb-15 text-align: center; align-content: center;" style="background-color: rgb(149, 149, 199);">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h2 class="one">Quote of the day</h2>
            <p class="one">{{quotes.quote}}</p>
            <p class="one">{{quotes.author}}</p>
        </div>
    </div>

    <section>
        <div class="row wow fadeIn card-columns">


            {% for blogpost in blogs %}
            <div class="col-md-2"></div>
            <div class="m-4 col-md-8 card">
                <div class="card-header">
                    <h2><a class="text-dark list-group animated fadeInRight article-title"
                            href="{{ url_for('main.blog', post_id=blogpost.id) }}">{{ blogpost.title }}</a></h2>
                </div>
                <div class="card-body ">
                    <ul class=" card-text list-group list-group-flush text-center; text-black:black;">
                        <p class="text-white animated fadeInRight text-center ">{{ blogpost.content }}</p>
                    </ul>
                    <div class="card-footer">
                        <div class="col-md-4">
                            <a href="{{url_for('main.new_comment',post_id=blogpost.id)}}"><button class="btn btn-sm">
                                    <i class="view comment text-align:center, align-content:center" style="font-size: 32px; color: black;">View Comment</i>
                                </button></a>
                        </div>
                        <div class="col-md-4">
                            <a class="mr-2 text-black" href="#"></a>
                            <small class="text-black ">Date
                                Posted:{{ blogpost.date_posted.strftime('%Y-%m-%d') }}</small>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
</div>

{% endblock %}
</body>
